{{!-- Loop over each post object in the posts array --}}
{{#if posts.length}}
    <ul>
        {{#each posts as |post|}}
            <li>
                <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
                <p>Published on {{format_date post.date_created}}</p>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No blog posts yet.</p>
{{/if}}